{% include "layout/header.html" %}

{{ menu }}

{% if messages %}
    {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="project_title">
        <h2>{{ current_project.title }}</h2>
    </div>
    <div class="project_description">
        <p>{{ current_project.description }}</p>
    </div>
</div>
<div class="row">
   <script type="text/javascript">
        ajaxGet('/project/{{ current_project.id }}/get_task_groups/', function(content){
            $('#task-group-placeholder').html(content);
            $(".task-group-sortable").sortable({
                containerSelector: 'table',
                itemPath: '> tbody',
                itemSelector: 'tr',
                placeholder: '<tr class="placeholder"/>',
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass("dragged").removeAttr("style");
                    $("body").removeClass("dragging");

                    var priorities = [];

                    $($item).parent().children().each(function(i, task){
                        priorities.push($(task).data('id'))
                    });

                    ajaxPost('/change_task_group_priorities/' + $($item).parent().data('group-id') + '/', {priorities: priorities});
                }
            })
        })
    </script>

    <div id="task-group-placeholder"/>
</div>


{% include "layout/footer.html" %}