{% for task_group in task_groups %}
    <div class="panel panel-default  col-sm-4" style="padding:0; margin-right:20px; max-height: 300px; overflow-y: scroll">
        <!-- Default panel contents -->
        <div class="panel-heading">
            {{ task_group.name }}

            <div class="pull-right">
                <a class="btn btn-default" href="#" role="button">Settings</a>
                <a class="btn btn-default" href="#" role="button">New task</a>
            </div>

            <div class="clearfix"/>

        </div>
        <!-- Table -->
        <table class="table table-condensed table-bordered task-group-sortable">
            <thead>
                <tr><th>Priority</th><th>Title</th><th>Created</th><th>Implemented</th></tr>
            </thead>
            <tbody data-group-id="{{ task_group.id }}">
                {% for task in task_group.tasks.all %}
                    <tr data-id="{{ task.id }}">
                        <td>{{ task.priority }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.employer }}</td>
                        <td>{{ task.developer }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
